---
import Image from "./Img.astro";
---

<ul>
  <li>
    <a href="#">
      <Image alt="Prducts" />
    </a>
  </li>
  <li>
    <a href="
    #">
      <Image alt="Contact" />
    </a>
  </li>
  <div>
    <p>Sobre Nosotros</p>
    <Image alt="arrow down" />
    <ul>
      <li>
        <a href="#">
          <Image alt="Restaurants" />
        </a>
      </li>
      <li>
        <a href="#">
          <Image alt="How are we?" />
        </a>
      </li>
    </ul>
  </div>
</ul>
